
.divlogin{
	
	z-index:9999;
	width:500px;
	height:300px;
	border:1px outset #333;
	position:fixed;
	top:100px;
	left:400px;
	overflow:auto;
	
	padding:20px;
	border-radius:10px;
}

.divlogin input{
	letter-spacing:.2em;
	border-radius:5px;
	padding-left:12px;
	height:32px;
	width:200px;
	border:1;
}

.table {
    width:80%;
    font:14px;
    color:#333333;
    text-align:center;
    border-collapse:collapse;
}
.table td,.table th{
    border:1px solid #333333;
    padding: 10px;
}

.message {
    background: #eee;
    border: 1px solid #eee;
    margin: 10px 0;
    padding: 10px;
}

.form-group {
    margin: 10px 0;
}

.form-group label {
    width: 130px;
    float: left;
}